@model HospitalApp.Models.Doktor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Doktor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DoktorAd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DoktorAd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dal)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Dal != null)
            {
                @Html.DisplayFor(model => model.Dal.DalName)
            }
            else
            {
                <text>N/A</text>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Poliklinik)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Poliklinik != null)
            {
                @Html.DisplayFor(model => model.Poliklinik.PolName)
            }
            else
            {
                <text>N/A</text>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DoktorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
